.App {
  text-align: center;
  /* background-image: url("https://media.istockphoto.com/vectors/coffee-seamless-pattern-vector-graphic-background-vector-id1189322746"); */
}

body {
  background-image: url("./images/Untitled design (3).png");
  background-size: cover;
  background-color: magenta;
  align-content: center;
  min-height: 100vh;
}

.navigation {
  background-color: darksalmon;
}

.navLink {
  margin: 5px;
  color: black;
  background-color: bisque;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  opacity: 1;
}
h1 {
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 div {
  color: white;
 }