.App {
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

body {
  background-image: url("./images/Untitled design (3).png");
  background-size: cover;
  background-color: magenta;
  align-content: center;
  min-height: 100vh;
}

.navigation {
  background-color: darksalmon;
}

.navLink {
  margin: 5px;
  color: black;
  background-color: bisque;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  opacity: 1;
}
h1 {
  font-size: 38px;
}

 div {
  color: white;
 }

 form {
  color: black;
  background-color: darksalmon;
  max-width: 50%;
  margin: auto;
  border-radius: 15px;
 }

 .footer {
  background-color: darksalmon;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
 }

 .footer a {
  color: black;
  padding: 10px;
  

 }